# Ignore Python virtual environments
venv/
.venv/
env/
.env/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore logs and databases
*.log
*.db

# Ignore IDE specific files
.vscode/
.idea/
